<h1>Camera Details</h1>
<p><strong>Model:</strong> <%= @camera.model %></p>
<p><strong>Year:</strong> <%= @camera.year %></p>
<p><strong>Condition:</strong> <%= @camera.condition %></p>
<p><strong>Price:</strong> <%= @camera.price %></p>
<p><%= link_to 'Edit', edit_camera_path(@camera) %></p>
<%= link_to 'Delete', cameras_path, method: :delete %>
<p><%= link_to 'Back', cameras_path %></p>
